[submodule "connect-backend"]
	path = connect-backend
	url = http://github.com/anveshgundlapalli/connect-backend
[submodule "connect-frontend"]
	path = connect-frontend
	url = http://github.com/anveshgundlapalli/connect-frontend
[submodule "connect-cli"]
	path = connect-cli
	url = http://github.com/anveshgundlapalli/connect-cli.git
